{% extends 'base_main.html' %}

{% block right %}
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">采购</a></li>
            <li><a href="#">供应商管理</a></li>
        </ul>
    </div>

    {% if ok_msg != None %}
        <div style="background-color:green;height: 50px;width: auto;">
            &nbsp;&nbsp;&nbsp;<b style="color: white;line-height: 50px;">√{{ ok_msg }}</b>
        </div>
    {% endif %}
    {% if err_msg != None %}
        <div style="background-color:red;height: 50px;width: auto;">
            &nbsp;&nbsp;&nbsp;<b style="color: white;line-height: 50px;">×{{ err_msg }}</b>
        </div>
    {% endif %}

    <!-- 内容  -->
    <div class="rightinfo">

        <table class="tablelist">
            <thead>
            <tr>
                <th>编号</th>
                <th>供应商名</th>
                <th>联系人</th>
                <th>联系电话</th>
                <th>地址</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% if page %}
                {% for supplier in page %}
                    <tr>
                        <td id="su_id">{{ supplier.id }}</td>
                        <td id="su_name">{{ supplier.name }}</td>
                        <td id="su_charger">{{ supplier.charger }}</td>
                        <td id="su_phone">{{ supplier.phone }}</td>
                        <td id="su_address">{{ supplier.address }}</td>
                        <td><a id="editSupplier" class="tablelink">修改</a>
                            <a href="{% url 'warehouse:supplier_del' pk=supplier.id %}" class="tablelink"> 删除</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        {% include 'page.html' %}

        <br><br>
        <div class="formtitle"><span>添加供应商</span></div>

        <form class="form-vertical" action="#" method="post">
            {% csrf_token %}
            <ul class="forminfo">
                <li><label for="name">供应商名</label>
                    <input type="text" name="name" id="name" class="dfinput"/>
                    <!-- 错误提示信息 -->
                    <div class="col-md-12" id="name_err" style="color: red;"></div>
                </li>
                <li><label for="charger">联系人</label>
                    <input type="text" name="charger" id="charger" class="dfinput"/>
                    <!-- 错误提示信息 -->
                    <div class="col-md-12" id="charger_err" style="color: red;"></div>
                </li>
                <li><label for="phone">手机</label>
                    <input type="text" name="phone" id="phone" class="dfinput"/>
                    <!-- 错误提示信息 -->
                    <div class="col-md-12" id="phone_err" style="color: red;"></div>
                </li>
                <li><label for="address">地址</label>
                    <input type="text" name="address" id="address" class="dfinput"/>
                    <!-- 错误提示信息 -->
                    <div class="col-md-12" id="address_err" style="color: red;"></div>
                </li>
                <li><label for="button">&nbsp;</label>
                    <input name="" type="button" id="button" class="btn confirmSupplier" value="确认保存"/>
                </li>
            </ul>
        </form>
    </div>
    <!-- 内容  -->


{% endblock %}
{% block footerjs %}
    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');

        $("#name").on('blur', function check_name() {
            var name = $('#name').val();
            if (name.length < 1 || name.length > 32) {
                $('#name_err').text('供应商名不能为空，并且长度不能超过32位！');
                return false
            } else {
                $('#name_err').text('');
                return true
            }
        });

        $("#charger").on('blur', function check_charger() {
            var charger = $('#charger').val();
            if (charger.length < 1 || charger.length > 16) {
                $('#charger_err').text('联系人不能为空，并且长度不能超过16位！');
                return false
            } else {
                $('#charger_err').text('');
                return true
            }
        });


        $("#phone").on('blur', function check_phone() {
            var phone = $('#phone').val();
            if (phone.length < 1 || phone.length > 11) {
                $('#phone_err').text('联系电话不能为空，并且长度不能超过11位！');
                return false
            } else {
                $('#phone_err').text('');
                return true
            }
        });

        $("#address").on('blur', function check_address() {
            var address = $('#address').val();
            if (address.length < 1) {
                $('#address_err').text('联系地址不能为空！');
                return false
            } else {
                $('#address_err').text('');
                return true
            }
        });

        //添加供应商
        $('.confirmSupplier').on('click', function () {
            var name = $('#name').val();
            var charger = $('#charger').val();
            var phone = $('#phone').val();
            var address = $('#address').val();
            var flag = true;

            if (name.length < 1 || name.length > 32) {
                $('#name_err').text('供应商名不能为空，并且长度不能超过32位！');
                flag = false
            }
            if (charger.length < 1 || charger.length > 16) {
                $('#charger_err').text('联系人不能为空，并且长度不能超过16位！');
                flag = false
            }
            if (phone.length < 1 || phone.length > 11) {
                $('#phone_err').text('联系电话不能为空，并且长度不能超过11位！');
                flag = false
            }
            if (address.length < 1) {
                $('#address_err').text('联系地址不能为空！');
                flag = false
            }

            if (flag) {
                var content = {
                    "name": name,
                    "charger": charger,
                    "phone": phone,
                    "address": address,
                };
                console.log(content);   //控制台打印content
                var csrf = '{{ csrf_token }}';
                $.ajax({
                    type: 'POST',
                    url: '/warehouse/supplier/1/',
                    headers: {"X-CSRFToken": csrf},
                    data: {'params': JSON.stringify(content)},
                    success: function (result) {
                        alert(result['status']);
                        window.location.href = '/warehouse/supplier/1/'  //提交成功后刷新页面
                    },
                    error: function (XMLHttpResponse, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            }
        });
        $('#editSupplier').on('click', function () {
            var name = $('#name');
            var charger = $('#charger');
            var phone = $('#phone');
            var address = $('#address');

            //赋值
            {#id = $(this).parent().parent().find('td[id*=su_id]').text();#}
            {#name.val() = $(this).parent().parent().find('td[id*=su_name]').text();#}
            {#charger = $(this).parent().parent().find('td[id*=su_charger]').text();#}
            {#phone = $(this).parent().parent().find('td[id*=su_phone]').text();#}
            {#address = $(this).parent().parent().find('td[id*=su_address]').text();#}

        })
    </script>
{% endblock %}